<section ng-controller="listController as list">
	<ul class="list-group">
	  <li class="list-group-item" ng-repeat="place in list.places">{{place.name}}</li>
	</ul>
	<form class="form">
	    <fieldset>
	      <div class="input-group">
	        <input type="text" ng-model="list.newPlace" name="name" value="" class="form-control" placeholder="Add a Name">
	        <div class="input-group-btn">
	          <button type="button" name="button" class="btn btn-error btn-success" ng-click="list.addPlace(list.newPlace)">Add Name</button>
	        </div>
	      </div>
	    </fieldset>
	</form>
</section>
